# Data Viking Class

## Data Analysis

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("dataset/credit_risk.csv")

In [4]:
data.head()

,Unnamed: 0,age,sex,job,housing,saving_accounts,checking_account,credit_amount,duration,purpose,risk,reference,income,cpf,score_serasa
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good,2023-01,NaN,410.927.380-37,102
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,2023-02,NaN,940.860.054-17,435
2,2,49,male,1,own,little,NaN,2096,12,education,good,2023-03,NaN,876.796.778-75,860
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good,2023-04,NaN,132.482.294-54,270
4,4,53,male,2,free,little,little,4870,24,car,bad,2023-01,NaN,730.133.071-53,106